@import "tailwindcss";

/* Global base styles */
h1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  /* border-radius: 0.25rem; */
  cursor: pointer;
}

button:hover {
  @apply bg-yellow-700;
}

button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

input[type="number"] {
  border: 1px solid #d1d5db;
  padding: 0.25rem 0.5rem;
}

body {
  font-family: var(--font-schoolbell);
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #111827;
}
